[Desktop Entry]
Encoding=UTF-8
Name=neovim
Comment=Edit textfile in neovim
Type=Application
Exec=urxvt -e zsh -ic "nvim %u" 
Terminal=false
StartupNotify=true
NoDisplay=true
