[Desktop Entry]
Encoding=UTF-8
Name=neovim
Comment=Edit textfile in neovim
Type=Application
Exec=qterminal -e nvim %u 
Terminal=false
StartupNotify=true
NoDisplay=true
