# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Eike Gebauer
	email = e_geba02@wwu.de
[core]
	excludesfile = /home/eike/.gitignore_global
