# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Eike Gebauer
	email = e.g@wwu.de
[core]
	excludesfile = ~/.gitignore_global
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[mergetool]
	hideResolved = true
	keepBackup = false
	keepTemporaries = true
	writeToTemp = true
	prompt = true
[pull]
	rebase = false
[init]
	defaultBranch = master
[mergetool "vimdiff"]
	layout = (LOCAL,MERGED,REMOTE) + (LOCAL,BASE,REMOTE / MERGED)

