#!/usr/bin/sh
export PATH="$PATH:$HOME/.local/bin"
export SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/ssh-agent.socket

if [ "$XDG_CURRENT_DESKTOP" = "i3" ]; then
    export QT_QPA_PLATFORMTHEME=qt5ct
	export TERMINAL=alacritty
fi
